
<div class="reviews-section">
    <div class="section-header section-header_indent_first">
        {{ section.settings.title }}
    </div>

    <div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default container">{{ product.metafields.loox.reviews }}</div><br>
</div>
<style>
    .reviews-section{
        margin-top: 70px;
    }
    .loox-reviews-default{
        padding-top:0;
        margin-bottom: 20px !important;
    }
</style>

{% schema %}
{
    "name": "Product reviews",
    "settings": [
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"
        }
    ],
    "presets": [
        {
            "name": "Product reviews"
        }
    ]
}
{% endschema %}